@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), 
         local('Roboto-Regular'), 
         url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
         format('woff');
  }

html {
    background-color: rgb(231, 231, 231);
    font-family: Roboto;
    color: rgb(73, 73, 73);
}

img {
    width: 256px;
    height: 256px;
    float: right;
    padding: 0 40px;
}